<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../ev-widget-behavior/ev-widget-behavior.html">

<link rel="import" href="../ev-investment-forecast-common/ev-investment-forecast-inputs-with-risk.html">
<link rel="import" href="../ev-investment-forecast-common/ev-investment-forecast-results-with-risk.html">
<link rel="import" href="../ev-charts/ev-funnel.html">
<link rel="import" href="../ev-spinner/ev-spinner-light.html">
<link rel="import" href="../ev-dialog/ev-error-dialog.html">
<link rel="import" href="../ev-msg/ev-msg.html">
<link rel="import" href="../ev-overlay/ev-overlay.html">
<link rel="import" href="../ev-slider/ev-slider.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../iron-media-query/iron-media-query.html">


<dom-module id="ev-investment-forecast-chart-with-risk">
  <template>
    <style>
      :host {
        position: relative;
        display: inline-flex;
        flex-direction: row;
        font-family: 'Nunito Sans', Arial, Verdana, sans-serif;
        font-size: 16px;
        margin-bottom: 15px;
        border: 1px solid #e1e1e1;
      }

      .inputs-results-container, .chart-container,
      ev-funnel, ev-overlay {
        outline: none;
      }

      .inputs-results-container {
        display: flex;
        flex-direction: column;
        width: 290px;
        margin-left: 10px;
        box-sizing: border-box;
      }

      ev-investment-forecast-inputs-with-risk,
      ev-investment-forecast-results-with-risk {
        width: inherit;
        height: 305px;
      }

      ev-investment-forecast-inputs-with-risk {
        padding: 0px;
        margin-bottom: 10px;
        margin-right: 0px;
        --ev-risk-slider-inputs-pin-color: var(--ev-risk-slider-pin-color, #4285F4);
        --ev-risk-slider-inputs-container-color: var(--ev-risk-slider-container-color, #C3D4F1);
        --ev-risk-slider-inputs-active-color: var(--ev-risk-slider-active-color, #4285F4);
        --ev-risk-slider-inputs-markers-color: var(--ev-risk-slider-markers-color, #4285F4);
        --ev-risk-slider-inputs-knob-color: var(--ev-risk-slider-knob-color, #4285F4);
      }

      ev-investment-forecast-results-with-risk {
        background: white;
      }

      ev-investment-forecast-results-with-risk .container {
        margin-bottom: var(--ev-responsive-spacing-after-calculate, 20px);
      }

      .chart-container {
        display: flex;
        min-width: 690px;
        height: 460px;
        background:white;
        position: relative;
        margin-left: 12px;
      }

      .overlay-visible p,
      .chart-container p {
        position: absolute;
        text-align: center;
        top: calc(50% - 22px);
        width: 80%;
        margin-left: 10%;
        margin-top: 0px;
        margin-bottom: 0px;
        outline: 0;
      }

      ev-funnel {
        width: inherit;
        height: inherit;
      }

      ev-spinner-light {
        position: absolute;
        top: 40%;
        left: calc(50% - 70px);
        z-index: 3;
      }

      #chart {
        width: 500px;
        height: 390px;
        margin-top: 40px;
      }

      /* IE10+ and max-width 900px */
      @media only screen and (max-width: 900px) and (-ms-high-contrast: none), (-ms-high-contrast: active)  {
        ev-investment-forecast-inputs-with-risk {
          width: 100%;
          min-width: 100%;
        }

      }

      @media only screen and (max-width: 900px) {
        :host {
          flex-direction: column;
          width: 100%;
          padding: 0px;
        }

        ev-investment-forecast-inputs-with-risk {
          height: auto;
        }

        ev-investment-forecast-results-with-risk {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-left: 10px;
        }

        .inputs-results-container {
          padding: 10px;
        }

        .chart-container {
          margin-left: 0px;
          margin-right: 0px;
          min-width: auto;
        }

        .inputs-results-container {
          width: 100%;
        }

      }

      @media only screen and (max-width: 768px) {
        :host {
           flex-direction: column;
           height: 1000px;
           padding-left: 0px;
           padding-right: 0px;
        }

        .inputs-results-container {
           flex-direction: column;
           width: auto;
           height: auto;
        }

        .chart-container {
          flex-wrap: wrap;
          min-width: auto;
          height: 430px;
          width: 100%;
        }

        #chart {
          width: 100%;
        }

        ev-error-dialog {
          width: 90%;
          margin-left: 5%;
          left: auto;
        }
      }

      @media only screen and (max-width: 715px) {
        .error-container {
          width: 95%;
          left: 2.5%;
        }
      }

      @media only screen and (max-width: 668px) {
        .error-container {
          height: auto;
        }
        .error-info .error-message {
          width: auto;
        }
      }

      @media only screen and (max-width: 530px) {
        :host {
          height: 1200px;
        }
      }

      @media only screen and (max-width: 430px) {
        :host {
          height: 1230px;
        }
        .error-container .error-icon {
          display: inline-flex;
        }
      }

      @media only screen and (max-width: 400px) {
        .error-container .error-icon {
          display: none;
        }
      }

    </style>

    <iron-ajax
      id="ajaxRequest"
      method="POST"
      url="[[apiUrl]]"
      handle-as="json"
      headers="[[headers]]"
      content-type="application/json"
      body="{{request}}"
      last-response="{{response}}"
      on-response="_handleResponse"
      on-error="_handleError"
      debounce-duration="500">
    </iron-ajax>

    <div class="inputs-results-container">
      <ev-investment-forecast-inputs-with-risk
        id-prefix="[[idPrefix]]"
        lump-sum="{{lumpSum}}"
        contribution="{{contribution}}"
        term="{{term}}"
        risk-group="{{riskGroup}}"
        help-icon-Name="[[config.icons.helpIconName]]"
        currency="[[currency]]">
      </ev-investment-forecast-inputs-with-risk>
    </div>
    <div class="chart-container">
      <p>Enter a lump sum, contributions, investment term and select a risk.</p>
      <ev-funnel id="chart" currency="[[currency]]" node-high-color="[[highCircleColour]]" node-mid-color="[[midCircleColour]]" node-low-color="[[lowCircleColour]]" funnel-color="[[funnelColour]]" no-title></ev-funnel>
      <ev-spinner-light></ev-spinner-light>
      <ev-investment-forecast-results-with-risk
        id-prefix="[[idPrefix]]"
        initial="[[initial]]"
        results="[[response]]"
        calculate-icon-name="[[config.icons.calculateIconName]]"
        currency="[[currency]]">
      </ev-investment-forecast-results-with-risk>
    </div>
    <ev-error-dialog id="error-dialog" class="override-styles">
      <h2 slot="heading">Something has gone wrong!</h2>
      <div class="dialog-message">Sorry that you've experienced this error. We're working on a solution right now. Please try again later.</div>
    </ev-error-dialog>
    <custom-style>
      <style>
        ev-error-dialog.override-styles {
          --ev-icon-color: var(--ev-error-icon-color, #87AB1E);
        }
      </style>
    </custom-style>

    <ev-overlay opacity="0.25"></ev-overlay>
  </template>

  <script>
/**
`ev-investment-forecast-with-risk`
A simple investment forecast widget with a slider to input risk.

This widget projects a stochastic pension forecast based on an initial sum, regular monthly
contributions, the term the money will be invested (the number of years) and the risk group.

To provide a forecast, the lump sum, contribution, term and fund code must be entered and validated
by the widget.

The risk group must be either 5, 7 or 10. If no risk group is specified it defaults to 10.
The risk group can also be set in Javascript, for example:

    widget.setRiskGroup(7);

The widget requires a valid `authentication-token` and `fund-code`. The fund code represents the
amount of risk. For risk group 7, the `fund-code` can be `risk1` to `risk7`.
They can be set in Javascript, for example:

    widget.authenticationToken = 'valid-authenication-token';
    widget.fundCode = 'risk4';

To perform the calculation, send a `calculate` event to the widget, for example:

    widget.dispatchEvent(new CustomEvent('calculate', {bubbles: true, composed: true}));

@customElement
@polymer
@appliesMixin EvWidgetBehavior
@demo demo/index.html
*/
    class EvInvestmentForecastChartWithRisk extends EvWidgetBehavior(Polymer.Element) {
      static get is() { return 'ev-investment-forecast-chart-with-risk'; }
      static get properties() {
        return {
          /** An optional fund code to use as the investment strategy */
          fundCode: {
            type: String,
            value: "risk5"
          },

          /** The lump sum to invest */
          lumpSum: Number,

          /** The monthly contribution amount */
          contribution: Number,

          /** The investment term (number of years) */
          term: Number,

          /** The risk group - which should only be 5, 7 or 10 */
          riskGroup: {
            type: Number,
            value: 10
          },
          highCircleColour: {
            type: String,
            value: '#D5E2B0'
          },
          midCircleColour: {
            type: String,
            value: '#87AB1E'
          },
          lowCircleColour: {
            type: String,
            value: '#D5E2B0'
          },
          funnelColour: {
            type: String,
            value: '#87AB1E'
          },
          /** Display the error modal */
          displayError: {
            type: Boolean,
            value: false
          },
          /** @private Compute the necessary amount percentiles needed for the API call */
          _percentiles: {
            type: Array,
            computed: '_computePercentiles()'
          },
          /** @private The successfull repsonse from the API call */
          _apiResponse: {
            type: Object
          },
          /** Currency prefix for monetary input fields */
          currency: {
            type: String,
            value: '£'
          }
        };
      }

      constructor() {
        super();
        this.initial = true;
        this.apiUrl = this.baseUrl + 'inv-forecast/1.0.0/forecastInvestment/forecast';
      }

      /**
      * @private
      * Initialisation
      */
      ready() {
        super.ready();

        this.riskInputs.addEventListener('calculate', () => { this._makeRequest(); });

        this._toggleOverlay();

        this.riskInputs.setRiskGroup(this.riskGroup);
        this.riskInputs.setRiskSliderToMidPoint(this.riskGroup);

        this.addEventListener('dom-change', function() {
          //update the popover position when it is available in the DOM
          this._setResultsPopOverPosition();
        });

        // valid codes for the risk group
        this.validCodeValues = [5,7,10];

        document.body.addEventListener('click', () => {
          if(!this.spinner.active) {
            let inputPopovers = this.riskInputs.shadowRoot.querySelectorAll('ev-popover');
            inputPopovers.forEach((inputPopover) => {
              inputPopover.hide();
              this.overlay.active = false; // hide overlay
            });

            let resultPopovers = this.results.shadowRoot.querySelectorAll('ev-popover');
            resultPopovers.forEach((resultPopover) => {
              resultPopover.hide();
              this.overlay.active = false; // hide overlay
            });
          }
        });

        // need to initialise all the popover positions
        this._resize();
      }

      /**
      * Returns a reference to the parent overlay
      * @return {HTMLElement}
      */
      get overlay() {
        return this.shadowRoot.querySelector('ev-overlay');
      }

      /**
      * Returns a reference to the chart overlay message
      * @return {HTMLElement}
      */
      get chartOverlayMessage() {
        return this.shadowRoot.querySelector('p');
      }

      /**
      * Returns a reference to the chart container
      * @return {HTMLElement}
      */
      get chartContainer() {
        return this.shadowRoot.querySelector('.chart-container');
      }

      /**
      * Returns a reference to the spinner
      * @return {HTMLElement}
      */
      get spinner() {
        return this.shadowRoot.querySelector('ev-spinner-light');
      }

      /**
      * Returns a reference to the funnel chart
      * @return {HTMLElement}
      */
      get funnelChart() {
        return this.shadowRoot.querySelector('ev-funnel');
      }

      /**
      * Returns a reference to the inputs container
      * @return {HTMLElement}
      */
      get riskInputs() {
        return this.shadowRoot.querySelector('ev-investment-forecast-inputs-with-risk');
      }

      /**
      * Returns a reference to the results container
      * @return {HTMLElement}
      */
      get results() {
        return this.shadowRoot.querySelector('ev-investment-forecast-results-with-risk');
      }

      /**
      * Returns a reference to the error dialog
      * @return {HTMLElement}
      */
      get errorDialog() {
        return this.shadowRoot.querySelector('#error-dialog');
      }

      /**
       * Set up window listeners to close the dialog on a click outside it
       */
      connectedCallback() {
        super.connectedCallback();
        window.addEventListener('resize', () => {
          this._resize();
        });
      }

      /**
       * Remove window listeners
       */
      disconnectedCallback() {
        super.disconnectedCallback();
        window.removeEventListener('resize', () => {
          this._resize();
        });
      }

      /**
      * Sets the code value
      * @param {Number}
      */
      setRiskGroup(codeValue) {
        // convert to a number if a numeric string is passed in
        let riskGroupNumber = parseInt(codeValue);
        if(isNaN(riskGroupNumber)) {
          riskGroupNumber = 10; // default to 10 if not valid
        }

        if(this._ifCodeValid(riskGroupNumber)) {
          this.riskGroup = riskGroupNumber;
          //update the slider
          this.riskInputs.setRiskGroup(riskGroupNumber);
          this.riskInputs.setRiskSliderToMidPoint(riskGroupNumber);
        }
      }

      /**
      * @private
      * Determine if the code for the risk is valid
      * @param {Number} the code for risk
      * @return {Boolean} true if the code is valid
      */
      _ifCodeValid(codeValue) {
        let valid = false;
        if(this.validCodeValues.includes(codeValue)) {
          valid = true;
        }
        return valid;
      }

      /**
      * @private
      * Toggle the overlay
      */
      _toggleOverlay() {
        this.classList.toggle('overlay-visible');
      }

      /**
      * @private
      * Compute the necessary amount of percentiles
      * @return {Array}
      */
      _computePercentiles() {
        let percentiles = [];
        for (var i = 0;  i <= 100; i ++) {
          percentiles[i] = i;
        }
        return percentiles;
      }

      /**
      * @private
      * Compute the number of terms which
      * are needed for the API call
      * @return {Array}
      **/
      _computeTerms(term) {
        let terms = [];
        for (var j = 0; j <= term; j++) {
          terms[j] = j;
        }
        return terms;
      }

      /**
      * @private
      * Sets up results and popover's when the widget's width is 464 or less
      */
      _singleColumnBreakpoint() {
        this.results.displayMobileResults();
        let margin = this._calcPopoverMargin(2.5);
        this._storeResultsPopOverPosition('top', 20, margin);
        this._setResultsPopOverPosition();

        this.riskInputs._setPopoverTop(this.riskInputs.lumpSumPopover, 102);
        this.riskInputs._setPopoverTop(this.riskInputs.contributionPopover, 216);
        this.riskInputs._setPopoverTop(this.riskInputs.investmentTermPopover, 338);
        this.riskInputs._setPopoverLeft(this.riskInputs.investmentFundPopover, 21);

      }

      /**
      * @private
      * Sets up results and popover positions when the widget's width is more than 835
      */
      _wideScreenBreakpoint() {
        this.results.displayNonMobileResults();
        // set popover position
        this._storeResultsPopOverPosition('top', 10, 36);
        this._setResultsPopOverPosition();


        this.riskInputs._setPopoverTop(this.riskInputs.lumpSumPopover, 90);
        this.riskInputs._setPopoverTop(this.riskInputs.contributionPopover, 206);
        this.riskInputs._setPopoverPosition(this.riskInputs.investmentTermPopover, 'top');
        this.riskInputs._setPopoverTop(this.riskInputs.investmentTermPopover, 125);
        this.riskInputs._setPopoverPosition(this.riskInputs.investmentFundPopover, 'top');
        this.riskInputs._setPopoverLeft(this.riskInputs.investmentFundPopover, 11);
      }

      /**
      * @private
      * Sets up results and popover positions when the widget's width is between 465 and 700
      *
      */
      _smallScreenBreakpoint() {
        this.results.displayMobileResults();
        let margin = this._calcPopoverMargin(2.5);

        this._storeResultsPopOverPosition('top', 80, margin);
        this._setResultsPopOverPosition();

        this.riskInputs._setPopoverTop(this.riskInputs.lumpSumPopover, 102);
        this.riskInputs._setPopoverTop(this.riskInputs.contributionPopover, 216);
        this.riskInputs._setPopoverPosition(this.riskInputs.investmentTermPopover, 'bottom');
        this.riskInputs._setPopoverTop(this.riskInputs.investmentTermPopover, 102);
        this.riskInputs._setPopoverPosition(this.riskInputs.investmentFundPopover, 'bottom');
      }

      /**
      * @private
      * Sets up results and popover positions when the widget's width is between 701 and 835
      */
      _midScreenBreakpoint() {
        this.results.displayNonMobileResults();
        let width = this.offsetWidth;
        let margin = width * 0.025;

        this._storeResultsPopOverPosition('top', 10, margin);
        this._setResultsPopOverPosition();

        this.riskInputs._setPopoverTop(this.riskInputs.lumpSumPopover, 102);
        this.riskInputs._setPopoverTop(this.riskInputs.contributionPopover, 216);
        this.riskInputs._setPopoverPosition(this.riskInputs.investmentTermPopover, 'bottom');
        this.riskInputs._setPopoverTop(this.riskInputs.investmentTermPopover, 100);
        this.riskInputs._setPopoverPosition(this.riskInputs.investmentFundPopover, 'bottom');
        this.riskInputs._setPopoverLeft(this.riskInputs.investmentFundPopover, undefined);

      }

      /**
      * Returns true if the widget's width is 464 or less
      * @return {Boolean}
      */
      _singleCol() {
        let singleCol = false;
        const width = this.offsetWidth;
        if(width <= 464) {
          singleCol = true;
        }
        return singleCol;
      }

      /**
      * Returns true if the widget's width is between 465 and 700
      * @return {Boolean}
      */
      _smallScreen() {
        let smallScreen = false;
        const width = this.offsetWidth;
        if(width > 464 && width <= 700) {
          smallScreen = true;
        }
        return smallScreen;
      }

      /**
      * Returns true if the widget's width is between 701 and 835
      * @return {Boolean}
      */
      _midScreen() {
        let midScreen = false;
        const width = this.offsetWidth;
        if(width > 700 && width <= 835) {
          midScreen = true;
        }
        return midScreen;
      }

      /**
      * Returns true if the widget's width is greater than 835
      * @return {Boolean}
      */
      _wideScreen() {
        let wideScreen = false;
        const width = this.offsetWidth;
        if(width > 835) {
          wideScreen = true;
        }
        return wideScreen;
      }

      /**
      * @private
      * Set the results displayed format and popovers depending on screen size
      */
      _resize() {
        if(this._singleCol()) {
          this._singleColumnBreakpoint();
        }

        if(this._smallScreen()) {
          this._smallScreenBreakpoint();
        }

        if(this._midScreen()) {
          this._midScreenBreakpoint();
        }
        if(this._wideScreen()) {
          this._wideScreenBreakpoint();
        }
      }

      /**
      * @private
      * Calculate the popover margin based on the forecaster widget width
      * @param {percentage} - percentage for left and right margins
      */
      _calcPopoverMargin(percentage) {
        let width = this.offsetWidth;
        let margin = width * (percentage / 100);
        return margin;
      }

      /**
      * @private
      * Store the popover position for the results popover
      * @param {position} - position - top, left, right or bottom
      * @param {top} - value for the top of the popover
      * @param {left} - value for the left of the popover
      * @param {offset} - pointer offset
      */
      _storeResultsPopOverPosition(position, top, left, offset) {
        this._resultsPopoverPosition = position;
        this._resultsPopoverTop = top;
        this._resultsPopoverLeft = left;
        this._resultsPopoverOffset = offset;
      }

      /**
      * @private
      * Set the popover position
      */
      _setResultsPopOverPosition() {
        this.results.setPopoverPosition(this._resultsPopoverPosition);
        this.results.setPopoverTop(this._resultsPopoverTop);
        this.results.setPopoverLeft(this._resultsPopoverLeft);
        this.results.setPopoverOffset(this._resultsPopoverOffset);
      }

      /**
      * @private
      * Gets the risk amount to pass to the API
      * @return {String}
      */
      _getFundCode() {
        return 'risk' + this.riskInputs.risk;
      }

      /**
       * @private
       * Creates the API request body.
       */
      _constructPostBody() {
        this.fundCode = this._getFundCode();
        this.request = {
          accumulationTaxationBasis: "NONE",
          funds: [{
            code: this.fundCode,
            balance: Number(this.lumpSum),
            contributionPercentage: 100,
            riskGroup: Number(this.riskGroup),
            riskTerm: Number(this.term),
          }],
          contributions: {
            amount: Number(this.contribution),
            increase: {
              basis: "NONE",
              rate: 0
            },
            frequency: "MONTHLY"
          },
          forecastOptions: {
            todaysPrices: false,
            terms: this._computeTerms(Number(this.term)),
            percentiles: this._percentiles
          }
        };

        if (this.configReference) {
          this.request.configReference = this.configReference;
        }
      }

      /**
       * @private
       * Makes a request to the API.
       */
      _makeRequest() {
        this.spinner.active = true;
        this.overlay.active = true;
        this._constructPostBody();
        this.$.ajaxRequest.generateRequest();
      }

      /**
       * @private
       * Handles the successful response from the API
       * @param {event}
       */
      _handleResponse(event) {
        this.spinner.active = false;
        this.overlay.active = false;
        this.initial = false;
        this._toggleOverlay();
        this.chartOverlayMessage.style.display = 'none';
        this._apiResponse = event.detail.response;
        this.results.displayHeader(this.wideScreen);
        this.drawFunnel();
      }

      /**
       * Draws the funnel
       */
      drawFunnel() {
        if(this._apiResponse) {
          this.funnelChart.forecastData = this._apiResponse;
          this.funnelChart.draw();
        }
      }

      /**
       * @private
       * Handles the error response from the API
       * @param {event}
       */
      _handleError(event) {
        this.spinner.active = false;
        this.overlay.active = false;
        this.initial = false;
        this.chartOverlayMessage.style.display = 'none';
        this.errorDialog.openDialog(event);
        console.error(event.detail.error);
      }

    }

    window.customElements.define(EvInvestmentForecastChartWithRisk.is, EvInvestmentForecastChartWithRisk);
  </script>
</dom-module>